select,
input,
textarea {
	background-color: var(--color-surface);
	border: var(--border-default);
	border-radius: var(--radius-default);
	color: inherit;
	font: inherit;
	padding: var(--space-8--rem) var(--space-10--rem);
}
